@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/colors.css";

@layer base {
  :root {
    --background: var(--gray-50);
    --foreground: var(--netural-900);
    --foreground-1: var(--netural-800);
    --card: var(--white);
    --card-background-hover: var(--white-800);
    --card-foreground: var(--netural-900);
    --card-foreground-1: var(--netural-800);
    --card-border: var(--netural-200);
    --popover: var(--white);
    --popover-foreground: var(--netural-900);
    --primary: var(--blue-600);
    --primary-foreground: var(--white);
    --primary-hover: var(--blue-700);
    --secondary: var(--netural-100);
    --secondary-foreground: var(--netural-600);
    --secondary-hover: var(--netural-100);
    --muted: var(--netural-100);
    --muted-foreground: var(--netural-500);
    --accent: var(--blue-50);
    --accent-foreground: var(--blue-800);
    --destructive: var(--red-600);
    --destructive-foreground: var(--white);
    --destructive-hover: var(--red-700);
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --input-border: var(--netural-300);
    --ring: var(--x-blue-600);
    --radius: 0.5rem;
    --outline-border: var(--netural-200);
    --button-border: var(--netural-300);
    --logo-symbol: var(--blue-500);
    --logo-wordmark: var(--blue-900);
  }

  .dark {
    --background: #11142d;
    --foreground: var(--white);
    --foreground-1: var(--white-70);
    --card: #0b0f28;
    --card-background-hover: #131a46;
    --card-foreground: var(--white);
    --card-foreground-1: var(--white-70);
    --card-border: var(--white-10);
    --popover: #0b0f28;
    --popover-foreground: var(--white);
    --primary: var(--blue-500);
    --primary-foreground: var(--white);
    --primary-hover: var(--blue-400);
    --secondary: var(--white-10);
    --secondary-foreground: var(--white-80);
    --secondary-hover: var(--white-20);
    --muted: #0b0f28;
    --muted-foreground: var(--white-30);
    --accent: var(--blue-800);
    --accent-foreground: var(--blue-100);
    --destructive: var(--red-500);
    --destructive-foreground: var(--netural-900);
    --destructive-hover: var(--red-450);
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --input-border: var(--white-30);
    --ring: var(--x-blue-600); /* TODO: Remove this CSS, as it is not part of the designs. */
    --outline-border: var(--white-30);
    --button-border: var(--white-30);
    --logo-symbol: var(--blue-500);
    --logo-wordmark: var(--white);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
/* added here since these are part of global layout styles */
header + * {
  padding-top: 3rem;
}
.submenu .link {
  position: relative;
}
.submenu .link.active::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 1rem;
  width: 0.25rem;
  left: 0.5rem;
  border-radius: 0.25rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
